page-listincome {
    .rows{
        border-top: 1px solid rgb(185, 184, 184);
     }
     .cla{
         border-right: 1px solid rgb(185, 184, 184);
     }
     #cla{
         border-left: 1px solid rgb(185, 184, 184);
     }
     .body{
         background-color: rgb(228, 226, 226);
     }
     #font{
         font-family: 'ZawgyiOne','Myanmar3';
     }
     .btmcolor{
         border-bottom: 2px solid #dedede;
     }
     .title{
         margin-top: 3px;
         text-align: center;
     }
     .tit{
         margin-left: 5%;
     }
     .div{
        background-color: rgb(228, 226, 226);
        width: 100%;
        padding: 0px;
     }
     .div1{
         margin-top: 40%;
     }
}
