page-advertising {
    .body{
        background-color: rgb(228, 226, 226);
    }
    .title{
        margin-top: 3px;
        text-align: center;
    }
    .tit{
        margin-left: 5%;
    }
    .list{
        border-top: 1px solid #dedede;
    }
    #font{
        font-family: 'ZawgyiOne','Myanmar3';
    }
}
