<!--
  Generated template for the ListpositionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="titlebar">
    <button ion-button menuToggle class="header">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <h6 class="title">
        ရာထူးအမျိုးအစား
      </h6>
    </ion-title>
    <ion-buttons class="tit" end>
      <button ion-button icon-only clear style="color: white;" (click)="insertPhonebill()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="body">
    <ion-card>
        <ion-item>
          <ion-label floating color="titlebar" (tap)="searchType()">ရှာမည့်အမျိုးအစားအမည်</ion-label>
          <ion-input (click)="searchType()" (tap)="searchType()" list="searchtype" id="font" type="text" [(ngModel)]="selectedSearchtype"
            class="btmcolor"></ion-input>
        </ion-item>
        <datalist id="searchtype">
          <option id="font" *ngFor="let item of SearchTypes" value="{{item.value}}">{{item.value}}</option>
        </datalist>
        <ion-searchbar (tap)="searchTap()" [animated]="true" (ionInput)="getItems()" [(ngModel)]="searchData" id="font"></ion-searchbar>
      </ion-card>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col col-4 text-wrap>
              <h2 style="color: green;">ရာထူးအမျိုးအစား</h2>
            </ion-col>
            <ion-col col-4 text-wrap>
              <h2 style="color: green;">ရက်စွဲ</h2>
            </ion-col>
            <ion-col col-4 text-wrap>
              <h2 style="color: green;">မှတ်ချက်</h2>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item-sliding *ngFor="let listPosition of itemsPosition" class="list">
        <ion-item>
          <ion-grid>
            <ion-row id="font">
              <ion-col col-4 text-wrap> {{listPosition.positiontype}}</ion-col>
              <ion-col col-4 text-wrap> {{listPosition.positiondate}}</ion-col>
              <ion-col col-4 text-wrap> {{listPosition.positionremark}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item-options>
          <button ion-button color="titlebar" icon-left class="ListBtn" (click)="editPosition(listPosition)" style="width: 60px;">
            <ion-icon name="ios-create"></ion-icon>
            ပြင်မည်
          </button>
          <button ion-button color="delete" icon-left class="ListBtn" (click)="deletePosition(listPosition)">
            <ion-icon name="ios-trash"></ion-icon>
            ဖျက်မည်
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-card>
</ion-content>